/*? ------------------------------------------------------------------------------------------------------Imports */
@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/*? ----------------------------------------------------------------------------------------------Common Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

.section-heading {
  font-size: 12rem;
  font-weight: 900;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  text-shadow: 0.3rem 0.3rem 0.3rem #000;
  letter-spacing: 0.5rem;
}

/*? ------------------------------------------------------------------------------------------Navigation Styling */
.nav-section {
  width: 100%;
  height: 15rem;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  position: fixed;
  /*TODO -change to 0rem */
  top: -14rem;
  z-index: 100;
  transition: top 0.5s;
}

.nav-section.change {
  top: 0;
  transition: top 0.5s;
}

.nav-links {
  margin: 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #666;
  transition: color 0.3s 0.2s;
}
.nav-links:hover {
  color: #fff;
  transition: color 0.3s;
}

.nav-links i {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.nav-links span {
  font-size: 3rem;
}

.menu {
  width: 5rem;
  height: 6rem;
  background-color: #000;
  position: fixed;
  /* todo - top 18rem */
  top: 2rem;
  left: 1rem;
  border-radius: 30rem 30rem 15rem 15rem;
  z-index: 50;
  transition: top 0.6s;
}

.menu.change {
  top: 18rem;
  transition: top 0.5s;
}

.menu::before {
  content: "";
  width: 0.5rem;
  height: 15rem;
  background-color: #000;
  position: fixed;
  /* todo - top 7rem */
  top: -11rem;
  left: 3.1rem;
  transition: top 0.6s;
}

.change.menu::before {
  top: 7rem;
  transition: top 0.5s;
}

/*? ------------------------------------------------------------------------------------------section 1 Styling */
.section-1 {
  width: 100%;
  height: 100vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.section-1-icons i {
  font-size: 35rem;
  color: #a79a2d;
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  text-shadow: 0.2rem 0.2rem 0.2rem #000;
  transition: all 0.3s ease;
}
.section-1-icons i.change {
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease 0.3s;
}

/*? ------------------------------------------------------------------------------------------section 2 Styling */
.section-2 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #222;
  padding: 10rem;
}
.cards-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.card {
  width: 30rem;
  background-color: #a79a2d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  box-shadow: 1rem 1rem 1rem #000;
  position: relative;
  transition: all 0.5s ease;
  transform: rotateY(10deg) skewX(2deg);
}

.card::after {
  content: "";
  height: 1rem;
  width: 100%;
  background-color: #8f8317;
  position: absolute;
  top: -1rem;
  left: 0;
  transform: skewX(45deg);
  transform-origin: bottom;
  box-shadow: -1rem -1rem 1rem #000;
}
.card:hover {
  transform: translateY(-3rem);
  box-shadow: 2rem 2rem 2rem #000;
}

.card-img {
  width: 100%;
}
.card-name {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin: 2rem 0;
  text-shadow: 0.15rem 0.15rem 0.15rem #000;
}
.card-btn {
  width: 80%;
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 800;
  cursor: pointer;
  border-radius: 5rem;
  border: none;
  letter-spacing: 0.5rem;
}
.card::before {
  content: "";
  height: 100%;
  width: 1rem;
  background-color: #817824;
  position: absolute;
  top: 0;
  left: -1rem;
  transform: skewY(45deg);
  transform-origin: right;
  box-shadow: -1rem -1rem 1rem #000;
}

/*? ------------------------------------------------------------------------------------------section 3 Styling */
.section-3 {
  background: #333;
  padding: 1rem 0;
  height: 100vh;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* * Gallery Link */
.gallery-link {
  position: relative;
  margin: 4rem 1rem;
  color: #fff;
  text-decoration: none;
}

.gallery-link::before {
  content: "";
  height: 0;
  width: 0.2rem;
  background-color: #fff;
  position: absolute;
  top: 3rem;
  left: 80%;
  transition: height 0.5s;
}

.gallery-link:hover::before {
  height: 80%;
}

.gallery-link::after {
  content: "";
  height: 0.2rem;
  width: 0;
  background-color: #fff;
  position: absolute;
  top: 25%;
  right: 5rem;
  transition: width 0.5s;
}

.gallery-link:hover::after {
  width: 80%;
}

/* * food img */
.food-img {
  width: 24vw;
  height: 15vw;
  object-fit: cover;
  box-shadow: 0.3rem 0.3rem 0.1rem #e92929, 0.5rem 0.5rem 0.1rem #a2e946,
    0.7rem 0.7rem 0.1rem #297ce9, 0.9rem 0.9rem 0.1rem #e92999;
  transition: all 0.5s;
}

.gallery-link:hover .food-img {
  box-shadow: 1rem 1rem 0.1rem #e92929, 2rem 2rem 0.1rem #a2e946,
    3rem 3rem 0.1rem #297ce9, 4rem 4rem 0.1rem #e92999;
  filter: blur(0.5rem);
  opacity: 0.5;
  transform: scale(1.1);
}

/* * food name */
.food-name {
  position: absolute;
  top: 3rem;
  left: 3rem;
  font-size: 2rem;
  color: #fff;
  font-weight: 900;
  letter-spacing: 0.1rem;
  width: 0;
  overflow: hidden;
  transition: width 0.3s 0.1s;
}

.gallery-link:hover .food-name {
  width: 100%;
  transition: width 0.3s;
}

/* * food description */
.food-description {
  position: absolute;
  bottom: 2vw;
  left: 2rem;
  width: 70%;
  visibility: hidden;
  opacity: 0;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: opacity 0.3s;
}

.gallery-link:hover .food-description {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s 0.1s;
}

/*? ------------------------------------------------------------------------------------------footer Styling */
.footer-section {
  width: 100%;
  height: 30vh;
  background: #171717;
  display: flex;
  justify-content: space-around;
  padding: 3rem 0;
  position: relative;
  align-items: flex-start;
}

.copyright {
  position: absolute;
  bottom: 4rem;
  border-top: 1px solid #a79a2d;
  padding-top: 3rem;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: #a2e946;
}

.footer-heading {
  color: #8f8317;
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.footer-paragraph {
  color: #fff;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
}

.footer-form {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.form-input {
  width: 30rem;
  height: 5rem;
  padding: 2rem;
  border-color: #a79a2d;
  font-size: 2rem;
  font-weight: 600;
  color: #a79a2d;
}

.form-input::placeholder {
  color: #a79a2d;
}

.form-button {
  position: relative;
  left: -4.5rem;
  width: 4rem;
  height: 4rem;
  background-color: #222;
  color: #a79a2d;
  cursor: pointer;
}
